<div class="home-bck">
    <form class="home-form" action="/artist-search" method="get" >
<label for="name">Search artists</label>
<input type="text" name="name">
<button id="home-btn">search for an artist</button>
</form>
</div>